.entireDiv {
    margin-top: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.title {
    font-size: 0.8rem;
    font-weight: 600;
    color: #656c79;
    margin: 0 0 0.08rem 0;
    text-transform: uppercase;
    letter-spacing: 0.08em;
}

.value {
    font-family: 'Inter';
    font-size: 0.8rem;
    font-weight: 500;
    margin-top: -4px;
}