.timeVisualDiv {
    display: flex;
    gap: 16px;
}

.timezoneHeading {
  font-size: 0.8rem;   
  font-weight: 500;              
  color: #555;               
  margin: 0 0 6.4px 0;            
  padding: 3.2px 6.4px;           
  background-color: #f7f7f7;    
  border-radius: 4.8px;            
  display: inline-block;       
  border: 0.8px solid #cbcbcb;    
  font-family: "Segoe UI", Arial, sans-serif;
}

.times {
  font-size: 0.8rem;            
  margin: 0 0 6.4px 0;            
  padding: 3.2px 6.4px;     
}