.entireDiv{
    width: 100%;
}

.errorMsgDiv {
  min-height: 19.2px;         
  margin-bottom: 4px;
  display: flex; 
  align-items: center;
}

.errorMsg {
  margin: 0;  
  color: red;
  font-size: 0.76rem;        
  font-weight: 600;
}


.formEntry{
    border: 0.8px solid black;
    border-radius: 4.8px;
    width: 100%;
    padding: 7px 15px;
    font-size: 0.9rem;
}
.formEntry::placeholder {
    color: #9aa0a6; 
    opacity: 1;
    font-size: 0.8rem;
}

.formTitles{
    font-size: 0.72rem;
    font-weight: 500;
    margin: 12px 0px 4px 0px;
}

.googleLogInButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: 100%;
    padding: 6.4px 9.6px;
    border: 0.8px solid rgb(208, 208, 208);
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
    font-weight: 500;
    color: #3c4043;
}
.googleLogInButton:hover {
    border-color: #4285F4;
    box-shadow: 0 1.6px 1.6px rgba(66, 133, 244, 0.3);
    background-color: #f8faff;
}

.googleLogInButton:active {
    background-color: #eff6ff;
    box-shadow: none;
}

.icon {
    height: 1rem;
    object-fit: contain;
}

.orDivider {
    display: flex;
    align-items: center;
    gap: 9.6px;
    margin: 12.8px 0px 12.8px 0px;
    color: #6b7280;
    font-size: 0.7rem;
}

.orDivider::before,
.orDivider::after {
    content: "";
    flex: 1;
    height: 0.8px;
    background: #d7d7d7;
}

.orText {
    line-height: 1;
}

.regularLogInButton{
    margin-top: 16px;
    margin-bottom: 4px;
    padding: 6.4px 8px;
    border-radius: 6.4px;
    width: 100%;
    background-color: #323a56;
    color: whitesmoke;
    font-weight: 500;
    cursor: pointer;
}
.regularLogInButton:hover{
    background-color: #293047;
}
.regularLogInButton:active{
    background-color: #1f2436;
}

.welcomeMessage{
    font-size: 1.36rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 8px;
}