.bottomDiv {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 16px; 
    margin-top: 24px;
}

.entireDiv {
    margin: 16px 64px 16px 64px;
}

.timeframeButton {
    padding: 9.6px 4.8px;
    font-size: 0.8rem;
    font-weight: 300;
}

.timeframeButton:hover {
    background-color: gainsboro;
}

.timeframeButtonChosen {
    padding: 9.6px 4.8px;
    font-weight: 300;   
    font-size: 0.8rem;
    background-color: rgb(204, 204, 204);
}