.summaryDiv {
    background-color: rgb(237, 237, 237);
    border: 0.8px solid gainsboro;
    border-radius: 12.8px;
    padding: 16px 24px;
    min-height: 320px;
    max-height: 320px;
}

.summaryTitle {
    font-size: 1.2rem;
    font-weight: 600;
}