.entireDiv {
  min-height: 100vh;  
  display: flex;
  justify-content: center;     
  align-items: center;
  gap: 16px;                    
}

.rightDiv {
  box-sizing: border-box;
  width: 420px;   
  height: 450px;
  background-color: white;
  display: flex;
  align-items: flex-start;     
  justify-content: flex-start;
  padding: 16px;            
}

.leftDiv {
  box-sizing: border-box;
  width: 750px;   
  height: 450px;
  background-color: white;
  align-items: flex-start;     
  justify-content: flex-start;     
}


/* stack on small screens */
@media (max-width: 900px) {
  .entireDiv {
    flex-direction: column;
  }
}
