.entireDiv {
  min-height: 100vh;  
  display: flex;
  justify-content: center;     
  align-items: center;
  gap: 16px;                    
}

.rightDiv {
  box-sizing: border-box;
  width: 420px;   
  height: 450px;
  background-color: white;
  align-items: flex-start;     
  justify-content: flex-start;
  padding: 16px;            
}

.leftDiv {
  box-sizing: border-box;
  width: 750px;   
  height: 450px;
  background-color: white;
  align-items: flex-start;     
  justify-content: flex-start;     
}

.loginUtilitiesButton{
    color: rgb(121, 121, 121);
    font-weight: 450;
    cursor: pointer;
}
.loginUtilitiesButton:hover{
    text-decoration: underline;
}

.loginUtilitiesDiv{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.loginUtilitiesText{
    font-weight: 300;
    color: rgb(121, 121, 121);
}

/* stack on small screens */
@media (max-width: 900px) {
  .entireDiv {
    flex-direction: column;
  }
}
