
.buttonsDiv{
  display: flex;
  gap: 10px;
  min-width: 0;
}
.buttonsDiv > .tradeButton,
.buttonsDiv > .fundamentalDataButton {
  flex: 1;     
  min-width: 0; 
  width: 0; 
}

.fundamentalDataButton {
  background: linear-gradient(165deg, #f6f6f6, #e4e4e4);
  border-radius: 8px;
  color: #323a56;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 400;
  padding: 8px 24px;
  width: 100%;
}
.fundamentalDataButton:hover {
  background: linear-gradient(165deg, #f6f6f6, #d0d0d0);
}
.fundamentalDataButton:active {
  background: linear-gradient(165deg, #f6f6f6, #c9c9c9);
}

.tradeButton {
  background: linear-gradient(165deg, #3bbb00, #257500);
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 8px 24px;
  width: 100%;
}
.tradeButton:hover {
  background: linear-gradient(165deg, #38b000, #216800);
}
.tradeButton:active {
  background: linear-gradient(165deg, #38b000, #1b5600);
}