.resultButton{
    display: block;
    padding: 1px 10px 1px 15px;
    width: 100%;
    text-align: left;
}
.resultButton:hover{
    background-color: rgb(209, 209, 209);
    cursor: pointer;
}

.resultsContainer{
    position: absolute;
    background-color: aliceblue;
    min-width: 400px;
    max-height: 250px;
    overflow-y: auto;
    z-index: 999;

    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
}