.recommendationResult {
  font-size: 1rem; 
  font-weight: 500;
  letter-spacing: 0.4px; 
}

.recommendationSection {
  display: flex;
  gap: 4px; 
}

.recommendationTitle {
  font-size: 1rem; 
  font-weight: 475;
  letter-spacing: 0.4px; 
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip button {
  background-color: rgb(209, 209, 209);
  margin-top: 5.6px; 
  margin-left: 4px; 
  padding: 2.4px 8px 2.4px 8px; 
  color: rgb(106, 106, 106);
  border: none;
  border-radius: 6.4px; 
  font-size: 7.2px; 
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s ease-out;
}

.tooltip button:hover {
  background-color: rgb(159, 159, 159);
  transform: scale(1.05);
}

.tooltip:hover .tooltiptext {
  font-size: 0.8rem;
  visibility: visible;
  opacity: 1;
}

.tooltiptext {
  visibility: hidden;
  width: 360px; 
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 6.4px;
  padding: 4px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -180px; 
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -4px; 
  border-width: 4px; 
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}