@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 - 900;
  font-stretch: 75% 125%;
  font-style: normal;
}

.entireDiv {
    min-width: 0;
}

.marketCards {
    margin: 16px 160px 16px 0px;
    flex: 1 1 auto;
    min-width: 0;
    position: relative;
}

.entireDiv {
    margin: 16px 64px 32px 64px;
}

.title {
    font-size: 1.4rem;
    font-weight: 600;
    color: #000000;
    margin-bottom: 0.8rem;
    letter-spacing: -0.02em;
}