.chartsDiv{
    min-width: 76px;
    max-width: 76px;
    padding-top: 4px;
}

.companyName{
    font-size: 0.68rem;
    font-weight: 300;
    max-width: 60px;
    min-width: 36px;
    white-space: nowrap; 
    overflow: hidden;  
    text-overflow: ellipsis;
}

.entireDiv{
    display: flex;
    margin: 4px 0px 32px 0px;
}

.lineSeparator{
    width: 0.8px;
    background-color: gray;
    flex: 0 0 0.8px;          
    align-self: stretch;   
    margin: 0 4.8px;  
}

.namesDiv{
    max-width: 60px;
    min-width: 44px;
    margin-right: 4px;
}

.percentage{
    font-size: 0.68rem;
    font-weight: 400;
}

.price{
    font-size: 0.96rem;
    font-weight: 700;
}

.pricesDiv{
    text-align: right;
    margin-left: 4px;
    margin-right: 2.4px;
}

.ticker{
    font-size: 1.04rem;
    font-weight: 700;
}
