.companyName {
  color: #555;
  font-size: 1.12rem;
  font-weight: 400;
  line-height: 1.2;
  margin: 3.2px 0 0;
}

.companyNameDiv {
  margin: 4px 8px 0px 16px;
}

.companyVisuals {
  background-color: rgb(227, 227, 227);
  border-radius: 6.4px;
  display: flex;
  width: 100%;
}

.stockLogo {
  border-radius: 6.4px;
  background-color: white;
}

.symbolName {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.1;
  margin: 0;
}