.errorMsgDiv {
  min-height: 19.2px;         
  margin-bottom: 4px;
  display: flex; 
  align-items: center;
}

.errorMsg {
  margin: 0;  
  color: red;
  font-size: 0.76rem;        
  font-weight: 600;
}

.formEntry{
    border: 0.8px solid black;
    border-radius: 4.8px;
    width: 100%;
    padding: 7px 15px;
    font-size: 0.9rem;
}
.formEntry::placeholder {
    color: #9aa0a6; 
    opacity: 1;
    font-size: 0.8rem;
}

.formTitles {
    font-size: 0.72rem;
    font-weight: 500;
    margin: 12px 0px 4px 0px;
}

.regularLogInButton {
    margin-top: 16px;
    margin-bottom: 4px;
    padding: 6.4px 8px;
    border-radius: 6.4px;
    width: 100%;
    background-color: #323a56;
    color: whitesmoke;
    font-weight: 500;
    cursor: pointer;
}

.regularLogInButton:hover {
    background-color: #293047;
}

.regularLogInButton:active {
    background-color: #1f2436;
}

.welcomeMessage {
    font-size: 1.36rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 8px;
}