.recommendationResult{
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.recommendationSection{
  display: flex;
  gap: 5px;
}

.recommendationTitle{
  font-size: 1.25rem;
  font-weight: 475;
  letter-spacing: 0.5px;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip button {
  background-color: rgb(209, 209, 209);
  margin-top: 7px;
  margin-left: 5px;
  padding: 3px 10px 3px 10px;
  color: rgb(106, 106, 106);
  border: none;
  border-radius: 8px;
  font-size: 9px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s ease-out;
}

.tooltip button:hover {
  background-color: rgb(159, 159, 159);
  transform: scale(1.05);
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltiptext {
  visibility: hidden;
  width: 450px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -225px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}