.hourText {
    color: rgb(202, 111, 0);
    font-weight: 600;
    font-size: 0.8rem;
}

.price {
    font-size: 2.4rem;
    font-weight: 700;
    font-family: 'Inter';
}

.hourlyChangeStats {
    font-size: 1.12rem;
    font-weight: 500;
    margin: 25.6px 0px 0px 12px; 
}

.metadata {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.metadata h1 {
    margin: 0; 
    line-height: 1.2; 
}

.metadataDiv {
    margin: 10px 0px 0px 4px; 
}

.usdText{
    font-size: 1rem;
}

.visuals {
    display: flex;
}

.flashUp {
    animation: flashUp 2s steps(1);
}

.flashDown {
    animation: flashDown 2s steps(1);
}

@keyframes flashUp {
    0%   { color: green; }
    20%  { color: black; }
    40%  { color: green; }
    60%  { color: black; }
    80%  { color: green; }
    100% { color: black; }
}

@keyframes flashDown {
    0%   { color: red; }
    20%  { color: black; }
    40%  { color: red; }
    60%  { color: black; }
    80%  { color: red; }
    100% { color: black; }
}