
.hourText {
    color: rgb(202, 111, 0);
    font-weight: 600;
}

.price {
    font-size: 3rem;
    font-weight: 700;
    font-family: 'Inter';
}

.hourlyChangeStats {
    font-size: 1.4rem;
    font-weight: 500;
    margin: 32px 0px 0px 15px;
}

.metadata {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.metadata h1 {
    margin: 0; 
    line-height: 1.2; 
}

.metadataDiv {
    margin: 17px 0px 0px 5px;
}

.visuals {
    display: flex;
}

.flashUp {
  animation: flashUp 2s steps(1);
}

.flashDown {
  animation: flashDown 2s steps(1);
}

@keyframes flashUp {
  0%   { color: green; }
  15%  { color: black; }
  30%  { color: green; }
  45%  { color: black; }
  60%  { color: green; }
  100% { color: black; }
}

@keyframes flashDown {
  0%   { color: red; }
  15%  { color: black; }
  30%  { color: red; }
  45%  { color: black; }
  60%  { color: red; }
  100% { color: black; }
}
