.accountValueAmount {
    font-size: 2.4rem;
    font-weight: 625;
    margin-top: -8px;
}

.accountValueSection {
    margin-bottom: 12px;
}

.additionalInfoDiv {
    display: flex;
}

.cashAddFundsButton {
    font-size: 0.96rem;
    padding: 1.6px 12px;
    border: 1.6px solid lightgray;
    border-radius: 6.4px;
}

.cashAddFundsButton:hover {
    cursor: pointer;
    background-color: rgb(229, 229, 229);
}

.cashAddFundsButton:active {
    cursor: pointer;
    background-color: rgb(219, 219, 219);
}

.cashAddFundsDiv {
    margin-left: 16px;
    margin-top: 13.6px;
}

.cashAmount {
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: -8px;
}

.cashSection {
    display: flex;
}

.chartDiv {
    width: 100%;
    height: 100%;
    margin-top: 8px;
    margin-left: 16px;
}

.changeValue {
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: -8px;
}

.dataDiv {
    min-width: 480px;
}

.externalDiv {
    margin: 16px 64px 0px 64px;
}

.newsDiv {
    flex: 1 1 0;  
    min-width: 0; 
    box-sizing: border-box;
}

.overviewChange {
    display: flex;
    gap: 20px;
    margin-bottom: 12px;
}

.overviewDiv {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 12px;
}

.portfolioDiv {
    min-height: 440px;
    width: 100%;
    display: flex;
}

.portfolioTitle {
    font-size: 0.8rem;
    font-weight: 600;
    color: #656c79;
    margin: 0 0 0.4rem 0;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    margin-bottom: -8px;
}

.titleText {
    font-size: 0.8rem;
    font-weight: 600;
    color: #656c79;
    margin: 0 0 0.08rem 0;
    text-transform: uppercase;
    letter-spacing: 0.08em;
}

.treemapDiv {
    width: 100%;
    border: 1.6px solid #e3e8ef;
    border-radius: 8px;
    padding: 12px 12px;
}

.watchlistDiv {
    flex: 1 1 0;  
    min-width: 0; 
    box-sizing: border-box;
    padding-right: 16px;
}