
.accountValueAmount{
    font-size: 2.75rem;
    font-weight: 625;
    margin-top: -10px;
}

.accountValueSection{
    margin-bottom: 15px;
}

.additionalInfoDiv{
    display: flex;
}

.cashAmount{
    font-size: 1.75rem;
    font-weight: 500;
    margin-top: -10px;
}

.chartDiv{
    width: 100%;
}

.changeValue{
    font-size: 1.75rem;
    font-weight: 500;
    margin-top: -10px;
}

.dataDiv{
    min-width: 600px;
}

.externalDiv{
    margin: 20px 80px 0px 80px;
}

.newsDiv{
    flex: 1 1 0;  
    min-width: 0; 
    box-sizing: border-box;
}

.newsTitle{
    font-size: 1.25rem;
}

.overviewChange{
    display: flex;
    gap: 25px;
    margin-bottom: 15px;
}

.overviewDiv{
    width: 100%;
    border: 2px solid #e3e8ef;
    border-radius: 10px;
    padding: 15px 15px;
    margin-bottom: 15px;
}

.portfolioDiv{
    min-height: 450px;
    width: 100%;
    display: flex;
}

.portfolioTitle{
    font-size: 1rem;
    font-weight: 600;
    color: #656c79;
    margin: 0 0 0.5rem 0;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: -10px;
}

.titleText{
    font-size: 1rem;
    font-weight: 600;
    color: #656c79;
    margin: 0 0 0.5rem 0;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.treemapDiv{
    width: 100%;
    border: 2px solid #e3e8ef;
    border-radius: 10px;
    padding: 15px 15px;
}

.watchlistDiv{
    flex: 1 1 0;  
    min-width: 0; 
    box-sizing: border-box;
}