
.accountValueAmount{
    font-size: 3rem;
    font-weight: 625;
    margin-top: -10px;
}

.accountValueSection{
    margin-bottom: 15px;
}

.additionalInfoDiv{
    display: flex;
}

.bottomTitle{
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.cashAddFundsButton{
    font-size: 1.2rem;
    padding: 2px 15px;
    border: 2px solid lightgray;
    border-radius: 8px;
}
.cashAddFundsButton:hover{
    cursor: pointer;
    background-color: rgb(229, 229, 229);
}
.cashAddFundsButton:active{
    cursor: pointer;
    background-color: rgb(219, 219, 219);
}

.cashAddFundsDiv{
    margin-left: 20px;
    margin-top: 17px;
}

.cashAmount{
    font-size: 1.75rem;
    font-weight: 500;
    margin-top: -10px;
}

.cashSection{
    display: flex;
}

.chartDiv{
    width: 100%;
    height: 100%;
    margin-top: 10px;
    margin-left: 20px;
}

.changeValue{
    font-size: 1.75rem;
    font-weight: 500;
    margin-top: -10px;
}

.dataDiv{
    min-width: 600px;
}

.externalDiv{
    margin: 20px 80px 0px 80px;
}

.newsDiv{
    flex: 1 1 0;  
    min-width: 0; 
    box-sizing: border-box;
}

.overviewChange{
    display: flex;
    gap: 25px;
    margin-bottom: 15px;
}

.overviewDiv{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.portfolioDiv{
    min-height: 550px;
    width: 100%;
    display: flex;
}

.portfolioTitle{
    font-size: 1rem;
    font-weight: 600;
    color: #656c79;
    margin: 0 0 0.5rem 0;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: -10px;
}

.titleText{
    font-size: 1rem;
    font-weight: 600;
    color: #656c79;
    margin: 0 0 0.1rem 0;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.treemapDiv{
    width: 100%;
    border: 2px solid #e3e8ef;
    border-radius: 10px;
    padding: 15px 15px;
}

.watchlistDiv{
    flex: 1 1 0;  
    min-width: 0; 
    box-sizing: border-box;
    padding-right: 20px;
}