.card {
  font-family: 'Inter', Arial;
  border-radius: 9.6px;
  margin-bottom: 12px;
  width: 100%;
  overflow: hidden;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.45);
  display: flex;
  min-height: 148px;
}
.card:hover {
  cursor: pointer;
}

.category {
  background-color: rgb(209, 209, 255);
  padding: 1.6px 6.4px;
  border-radius: 4.8px;
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 96px;
  font-weight: 600;
}

.content {
  margin: 12px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 1;
  min-width: 0;
}

.footer {
  margin-top: auto;
  display: flex;         
  gap: 8px; 
  align-items: center;
  color: #666;
  border-radius: 4.8px;
  flex-shrink: 0;
}

.headline {
  font-weight: 700;
  font-size: 0.92rem;
  max-height: 40px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical; /*for text overlow*/
  -webkit-line-clamp: 2;  /*for text overlow*/
  text-overflow: ellipsis;
  line-height: 1.4;
  margin: 0 0 6.4px 0;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.imageContainer {
  min-width: 220px;
  max-width: 220px;
  border-radius: 9.6px;
  overflow: hidden;
  flex-shrink: 0;
  position: relative;
}

.source {
  background-color: rgb(209, 255, 216);
  padding: 1.6px 6.4px;
  border-radius: 4.8px;
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 120px;
}

.summary {
  max-height: 68px;
  overflow: hidden;
  color: rgb(141, 141, 141);
  display: -webkit-box;
  -webkit-box-orient: vertical; /*for text overlow*/
  -webkit-line-clamp: 3; /*for text overlow*/
  text-overflow: ellipsis;
  line-height: 1.5;
  font-size: 11.2px;
  margin: 0 0 6.4px 0;
}