.card{
  font-family: 'Inter', Arial;
  border-radius: 12px;
  margin-bottom: 15px;
  width: 100%;
  overflow: hidden;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.45);
  display: flex;
  min-height: 185px;
}
.card:hover{
  cursor: pointer;
}

.category{
  background-color: rgb(209, 209, 255);
  padding: 2px 8px;
  border-radius: 6px;
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 120px;
  font-weight: 600;
}

.content {
  margin: 15px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 1;
  min-width: 0;
}

.footer {
  margin-top: auto;
  display: flex;         
  gap: 10px; 
  align-items: center;
  color: #666;
  border-radius: 6px;
  flex-shrink: 0;
}

.headline{
  font-weight: 700;
  font-size: 1.15rem;
  max-height: 50px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical; /*for text overlow*/
  -webkit-line-clamp: 2;  /*for text overlow*/
  text-overflow: ellipsis;
  line-height: 1.4;
  margin: 0 0 8px 0;
}

.image{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.imageContainer{
  min-width: 275px;
  max-width: 275px;
  border-radius: 12px;
  overflow: hidden;
  flex-shrink: 0;
}

.source{
  background-color: rgb(209, 255, 216);
  padding: 2px 8px;
  border-radius: 6px;
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}

.summary{
  max-height: 85px;
  overflow: hidden;
  color: rgb(141, 141, 141);
  display: -webkit-box;
  -webkit-box-orient: vertical; /*for text overlow*/
  -webkit-line-clamp: 3; /*for text overlow*/
  text-overflow: ellipsis;
  line-height: 1.5;
  font-size: 14px;
  margin: 0 0 8px 0;
}
