.chartsDiv{
    min-width: 95px;
    max-width: 95px;
    padding-top: 5px;
}

.companyName{
    font-size: 0.85rem;
    font-weight: 300;
    max-width: 75px;
    min-width: 45px;
    white-space: nowrap; 
    overflow: hidden;  
    text-overflow: ellipsis;
}

.entireDiv{
    display: flex;
    margin: 5px 0px 40px 0px;
}

.lineSeparator{
    width: 1px;
    background-color: gray;
    flex: 0 0 1px;          
    align-self: stretch;   
    margin: 0 6px;  
}

.namesDiv{
    max-width: 75px;
    min-width: 55px;
    margin-right: 5px;
}

.percentage{
    font-size: 0.85rem;
    font-weight: 400;
}

.price{
    font-size: 1.2rem;
    font-weight: 700;
}

.pricesDiv{
    text-align: right;
    margin-left: 5px;
    margin-right: 3px;
}

.ticker{
    font-size: 1.3rem;
    font-weight: 700;
}