@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 - 900;
  font-stretch: 75% 125%;
  font-style: normal;
}

.entireDiv{
    min-width: 0;
}

.marketCards {
    margin: 20px 200px 20px 0px;
    flex: 1 1 auto;
    min-width: 0;
    position: relative;
}

.entireDiv{
    margin: 20px 80px 40px 80px;
}

.title {
    font-size: 1.75rem;
    font-weight: 600;
    color: #000000;
    margin-bottom: 1rem;
    letter-spacing: -0.025em;
}
