@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 - 900;
  font-stretch: 75% 125%;
  font-style: normal;
}

.bottomRow{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    background-color: #323a56;
    font-family: 'Inter', Arial;
    font-size: 1.12rem;
    font-weight: 300;
    padding: 4px 20px 4px 20px;
    transition: background-color 0.1s ease;   
    cursor: pointer;
}
.button:hover {
    background-color: #3a425d;
}
.button:active {
    transform: scale(0.99);
    background-color: #545d77;
}

.buttonActivated{
    background-color: #545d77;
}

.buttonDiv {
    padding: 1.6px 0px 0px 0px;
}

.logo {
    font-family: 'Inter', Arial;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 4px 0px 8px 20px;
}

.logOut {
    background-color: #323a56;
    border: 0px solid white;
    font-family: 'Inter', Arial;
    font-size: 0.88rem;
    font-weight: 200;
    padding: 0px 16px 0px 16px;
    transition: background-color 0.1s ease;   
    cursor: pointer;
}
.logOut:hover {
    background-color: #3a425d;
    font-weight: 200;
}
.logOut:active {
    transform: scale(0.99);
    background-color: #545d77;
    font-weight: 200;
}

.marketStatusDiv{
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    margin-right: 16px;
    margin-top: -20px;
}

.marketStatusText{
    padding-left: 4px;
    font-size: 0.8rem;
}

.topBar {
    padding-left: 60px;
    padding-right: 60px;
    background-color: #323a56;
    color: white;
}

.topRow{
    display: flex;
    justify-content: space-between;
}

.user{
    padding: 4px 8px 4px 8px;
    font-weight: 300;
    font-size: 0.96rem;
}

.userData{
    display: flex;
    justify-content: flex-end;
    align-items: center; 
}