
.notification-container {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 320px;
  max-width: 90vw;
  pointer-events: none; 
  list-style-type: none;
  font-family: sans-serif;

  animation: dropIn 0.4s ease-out forwards;
}

.notification-item {
  --content-color: #333;
  --background-color: #f3f3f3;
  --font-size-content: 0.85em;

  position: relative;
  display: flex;
  justify-content: center; 
  align-items: center;
  padding: 12px 18px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;
  background-color: var(--background-color);
  transition: all 250ms ease;
  pointer-events: auto; 
  color: var(--content-color);
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.success {
  --content-color: #047857;
  --background-color: #d1fae5;
}

.error {
  --content-color: #7f1d1d;
  --background-color: #fee2e2;
}

.notification-content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 1;
}

.notification-text {
  font-size: var(--font-size-content);
  font-weight: 500;
  user-select: none;
}

@keyframes dropIn {
  0% {
    opacity: 0;
    transform: translate(-50%, -50px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}