.accountValueAmount {
    font-family: 'Inter';
    font-size: 2.4rem;
    font-weight: 625;
    margin-top: -8px;
}

.accountValueSection {
    margin-bottom: 12px;
}

.cashAddFundsButton {
    font-size: 0.96rem;
    padding: 0px 12px;
    border: 1.6px solid lightgray;
    border-radius: 6.4px;
}

.cashAddFundsButton:hover {
    cursor: pointer;
    background-color: rgb(229, 229, 229);
}

.cashAddFundsButton:active {
    cursor: pointer;
    background-color: rgb(219, 219, 219);
}

.cashAddFundsDiv {
    margin-left: 16px;
    margin-top: 13.6px;
}

.cashAmount {
    font-family: 'Inter';
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: -8px;
}

.cashSection {
    display: flex;
}

.changeValue {
    font-family: 'Inter';
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: -8px;
}

.dataDiv {
    min-width: 480px;
}

.overviewChange {
    display: flex;
    gap: 20px;
    margin-bottom: 12px;
}

.overviewDiv {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 12px;
}

.titleText {
    font-size: 0.8rem;
    font-weight: 600;
    color: #656c79;
    margin: 0 0 0.08rem 0;
    text-transform: uppercase;
    letter-spacing: 0.08em;
}