

.timeframeButton{
    padding: 12px 6px;
    font-weight: 300;
}
.timeframeButton:hover{
    background-color: gainsboro;
}

.timeframeButtonChosen{
    padding: 12px 6px;
    font-weight: 300;   
    background-color: rgb(204, 204, 204);
}