User Accounts
[x] User Login
[x] User Registration

View User Holdings
[x] View current Virtual Account balance
[x] Add/Remove funds from Virtual Account balance
[x] View current Portfolio/Holdings

Account History
[x] View Portfolio Analytics
[x] View all History of Trades

View Stocks
[x] Add stocks on a Watchlist
[x] Search stocks 
[-] View Index Funds (eg S&P500)

Buy/Sell Stock
[x] Place Buy order on requested stock
[x] Place Sell order on requested stock
[x] View Line chart (history performance) for each stock
[x] View stock information (Company, Q1/2/3/4 Profits, Stats]
