
.bottomDiv{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px; 
    margin-top: 30px;
}

/* .dataDiv{
    background-color: lightpink;

} */

.entireDiv{
    margin: 20px 80px 20px 80px;
}




.timeframeButton{
    padding: 12px 6px;
    font-weight: 300;
}
.timeframeButton:hover{
    background-color: gainsboro;
}

.timeframeButtonChosen{
    padding: 12px 6px;
    font-weight: 300;   
    background-color: rgb(204, 204, 204);
}
