.accountValueAmount {
    font-family: 'Inter';
    font-size: 2.4rem;
    font-weight: 625;
    margin-top: -8px;
}

.cashAmount {
    font-family: 'Inter';
    font-size: 1.48rem;
    font-weight: 500;
    margin-top: -4px;
}

.entireDiv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px; 
}

.titleText {
    font-size: 0.8rem;
    font-weight: 600;
    color: #656c79;
    margin: 0 0 0.08rem 0;
    text-transform: uppercase;
    letter-spacing: 0.08em;
}